# node_modules ve diğer bağımlılık dosyalarını hariç tut
node_modules/

# Çıktı ve derleme dosyalarını hariç tut
build/
dist/

# IDE/işletim sistemi dosyalarını hariç tut
.DS_Store
Thumbs.db

# Ortam değişkeni dosyaları
.env

# Git submodule hatası için
privalyze-frontend/
privalyze-backend/
